<div class="logo_box mx-auto">
  <%= image_tag("mad-hattr-logo.png", class: "logo_home") %>
</div>

<div class="card mx-auto col-10 devise-card">
  <div class="card-body card_field">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email address", class: "text_fields" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "text_fields" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "text_fields" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "devise/shared/links" %>
  </div>
</div> <!-- card container -->
