<div class="logo_box mx-auto">
  <%= image_tag("mad-hattr-logo.svg", class: "logo_home") %>
</div>



<div class="card mx-auto col-10 devise-card">
  <div class="card-body card_field">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email address", class: "text_fields" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
