<%= render "nav" %>

<div class="search_box">
  <%= form_tag(root_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Hats" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>


<!-- Items preview -->

<div class="container mx-auto user_photo_feed">
    <div class="row justify-content-start">
      <% @item.each do |item| %>

      <div class="col-6 col-sm-4">
          <div class="card items_card">
            <div class="card-body">
              <%= link_to (image_tag (item.image_url(:angle=>"exif", :gravity=>"auto", :height=>500, :width=>500, :crop=>"fill")), :class => 'card-img-top feed_grid'), item_path(item.id) %>
              <div class="text_box">
                <p class="card-text"><span class="item_name"><%= item.name %></span></p>
                <p class="card-text"><span class="item_price">$ <%= item.price %></span></p>
              </div>
            </div>
          </div>
      </div>

      <% end %>
    </div>
</div>
