
<div class="card mx-auto col-10">
  <div class="card-body card_field">
    <%= form_with(model: item, local: true) do |form| %>
      <% if item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <br>

      <div class="field">
        <%= form.select :style, ['Cap', 'Trilby', 'Beanie', 'Fedora', 'Flatcap', 'Trucker', 'Snapback', 'Bucket', 'Five Panel', 'Pirate', 'Bowler', 'Cowboy'], id: :item_style%>
      </div>

      <div class="field">
        <%= form.text_field :name, placeholder: "Name", id: :item_name, class:"text_fields" %>
      </div>

      <div class="field">
        <%= form.text_area :description, placeholder: "Description", id: :item_description, class:"text_fields" %>
      </div>

      <div class="field">
        <%= form.file_field :image, id: :item_image_data, class:"text_fields" %>
      </div>

      <div class="field">
        <%= form.select :condition, ['New', 'Used'], id: :item_image_condition %>
      </div>

      <div class="field">
        <%= form.text_field :price, placeholder: "Price", id: :item_price, class:"text_fields" %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
