<p id="notice"><%= notice %></p>

<h1>Items</h1>
<div class="search_box">
  <%= form_tag(items_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Hats" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image data</th>
      <th>Condition</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item.each do |item| %>
      <tr>
        <td><%= item.style %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.image_data %></td>
        <td><%= item.condition %></td>
        <td><%= item.price %></td>
        <td><%= item.user %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
